librosa==1.0.0
llvmlite==0.49.0
matplotlib==3.11.1
numba==0.67.0
numpy==2.5.3
pytest==9.1.1
scikit-learn==1.9.0
scipy==1.18.1
soundfile==0.14.0
soxr==1.1.0
torch==2.14.0+cpu
torchaudio==2.11.0+cpu
umap-learn==0.5.12
